
/*Subscribe*/
.subscribe { 
  min-height: 500px;
  background: url(../image/ігиіск.png) no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.subscribe__row{
  padding: 115px 0px 0px 164px;
}

.subscribe__title { 
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 0.68;
  text-align: left;
  color: #262626;
  margin-bottom: 34px;
}

.subscribe__text { 
  width: 541px;
  height: 43px;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.59;
  text-align: left;
  color: #262626;
  margin-bottom: 31px;
}

.subscribe-form { 
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
  color: rgba(38, 38, 38, 0.5);
}

.subscribe-form__input{
  width: 570px;
  height: 55px;
  margin: 31px 30px 0 2px;
  padding: 22px 417px 22px 15px;
  border: solid 1px #26262670;
  opacity: 0.5;
}

.subscribe-form__btn{
  width: 170px;
  height: 55px;
  padding: 10px 30px;
  background-color: #96b92c;
  font-family:" Raleway", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.35;
  color: #ffffff;
  border: 0;
}

.subscribe-form__btn::after{
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.subscribe-form__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.subscribe-form__btn:active {
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:970px){
  .subscribe-form__form{
    display: flex;
    flex-direction: column;
  }

  .subscribe-form__input{
    width: 300px;
    padding: 22px 100px 22px 15px;
  }

  .subscribe-form__btn{
    margin-top: 20px;
  }

  .subscribe__row{
    padding: 115px 0px 0px 40px;
  }
  
  .subscribe__title { 
    font-size: 30px;
  }
  
  .subscribe__text { 
    width: 300px;
    font-size: 14px;
  }
  
}

@media screen and (max-width:320px){
  .subscribe__row{
    padding: 115px 0px 0px 20px;
  }
  
  .subscribe__title { 
    font-size: 25px;
  }
  
  .subscribe__text { 
    width: 250px;
    font-size: 14px;
  }

  .subscribe-form__input{
    width: 230px;
    padding: 22px 80px 22px 15px;
  }
}